.d1{
    border: 5px ;
    border-color: aliceblue;
    border-style: double;
    text-align: center;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    background-color: rebeccapurple;
    
    
}